<!DOCTYPE HTML>
<html>

<head>
<title>NodeMCU Control</title>
</head>
<body>
<div style='width: 500px; margin: auto; text-align: center;'>
<h1>Welcome to Handong Global University</h1>
<h2>NodeMCU Web Server</h2>
<button onclick="PubToBrocker('led')" >LED Toggle</button>
<button onclick="PubToBrocker('USBLED')" >USB LED Toggle</button>
<button onclick="PubToBrocker('USBLED/ON')" >USB LED On</button>
<button onclick="PubToBrocker('USBLED/OFF')" >USB LED OFF</button>
<button onclick="PubToBrocker('dht22_t')" >Get Temperature</button>
<button onclick="PubToBrocker('dht22_h')" >Get Humidity</button>
<button onclick="PubToBrocker('dht22')" >Get Temperature and Humidity</button>
<button onclick="PubToBrocker('cds')" >Get Light Intensity</button>


<p> Result: {{result}}</p>

<div id="subscribe_messages">
    <p id="result"></p>
</div>

</body>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    // listen for mqtt_message events
    // when a new message is received, log and append the data to the page
    socket.on('mqtt_message', function(data) {
      var result = data['topic']+": "+data['payload'];
      $('#result').text(result)
    });


  });
  function PubToBrocker(payload){
    $(document).ready(function() {
    var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.emit("request",payload);
    });
  }
</script>



</html>


