.widget-basedisplay-default-header .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-header .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-header .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-header .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-header .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-header .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}
.widget-baseclock-default-clock-clock.date {
	position: absolute;
	top: 5px;
	width: 100%;
}
.widget-baseclock-default-clock-clock.time {
 	position: absolute;
	top: 45px;
	width: 100%;
}
.widget-baseswitch-default-led .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-led .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-led .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-led .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-led .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-baseswitch-default-usb-led .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-usb-led .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-usb-led .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-usb-led .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-usb-led .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-baseswitch-default-rasbian-display .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-rasbian-display .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-rasbian-display .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-rasbian-display .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-rasbian-display .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basedisplay-default-light-intensity .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-light-intensity .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-light-intensity .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-light-intensity .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-light-intensity .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-light-intensity .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}
.widget-basedisplay-default-temperature .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-temperature .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-temperature .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-temperature .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-temperature .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-temperature .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}
.widget-basedisplay-default-humidity .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-humidity .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-humidity .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-humidity .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-humidity .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-humidity .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}
.widget-basedisplay-default-btiphone .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-btiphone .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-btiphone .valueunit {
	width: 100%;
	vertical-align: middle;
}

.widget-basedisplay-default-btiphone .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-btiphone .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-btiphone .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}
.widget-basejavascript-default-reload .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basejavascript-default-reload .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basejavascript-default-reload .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basejavascript-default-reload .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
